{{extend '../_layouts/home.html'}}

{{block 'title'}}{{'多人博客 - 首页'}}{{/block}}

{{block 'body'}}

<section class="container">
  {{include '../_partials/settings-nav.html'}}
  <div class="col-md-5">
    <form id="settings_profile_form">
      <div class="form-group">
        <label for="email">账号</label>
        <p class="form-control-static">{{ user.email }} <input style="display:none" name="_id" value="{{ user._id }}"></p>
      </div>
      <div class="form-group">
        <label for="nickname">昵称</label>
        <input type="text" class="form-control" name="nickname" value="{{ user.nickname }}">
      </div>
      <div class="form-group">
        <label for="bio">介绍</label>
        <textarea class="form-control" rows="3" name="bio" value="{{ user.bio }}">{{ user.bio }}</textarea>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">性别</label>
        <div>
          <label class="radio-inline">
            <input type="radio" name="sex" id="inlineRadio1" value="0"> 男
          </label>
          <label class="radio-inline">
            <input type="radio" name="sex" id="inlineRadio2" value="1"> 女
          </label>
          <label class="radio-inline">
            <input type="radio" name="sex" id="inlineRadio3" value="-1" checked> 保密
          </label>
        </div>
      </div>
      <div class="form-group">
        <label>生日</label>
        <input type="text" class="form-control" name="brithday" value="{{ user.brithday }}">
      </div>
      <div class="col-md-2 profile-avatar">
          <dl>
            <dt>头像设置</dt>
            <dd style="margin-top: 5px">
              <img class="avatar" width="150" height="150" src="{{ user.avatar }}" alt="">
              <div id="wsh-change-userAvatar col-xs-3">
                <button type="button" class="btn btn-default">修改头像</button>
                <input type="file">
              </div>
            </dd>
          </dl>
        </div>
      <button type="submit" class="btn btn-success">保存</button>
    </form>
  </div>

</section>

<script src="/node_modules/jquery/dist/jquery.js"></script>
<script>
  $('#settings_profile_form').on('submit', function (e) {
    e.preventDefault()
    var formData = $(this).serialize()
    $.ajax({
      url: '/settings/profile',
      type: 'post',
      data: formData,
      dataType: 'json',
      success: function (data) {
        var err_code = data.err_code
        if (err_code === 0) {
          window.alert('保存成功')
        } else if (err_code === 500) {
          window.alert('服务器忙，请稍后重试！')
        }
      }
    })
  })
</script>

{{/block}}